body {
    margin: 0;
}

.game__username,
.game__password,
.game__chatbox {
    position: absolute;
    color: white;
    border-radius: 0.25rem;
    border: none;
    padding: 0.5rem;
    outline: 0;
}

.game__username,
.game__password {
    font-size: 1.5rem;
    width: 30rem;
    background-color: rgba(0, 0, 0, 0.25);
}

.game__username {
    left: 400px;
    top: 300px;
}

.game__password {
    left: 400px;
    top: 400px;
}

.game__chatbox {
    top: calc(720px - 40px);
    left: 10px;
    width: calc(1280px - 40px);
    background-color: rgba(0, 0, 0, 0.5);
}
